create table PERSON (PID INT not null, FNAME VARCHAR(10) NOT NULL, LNAME varchar(10) NOT NULL, RANK INT NOT NULL, primary key (PID));
ALTER TABLE PERSON ADD CONSTRAINT PERMISSIONS_CHK CHECK ((RANK=3 AND PID<1000) OR ((RANK>0 AND RANK<3) AND (PID>=1000 AND PID<10000)) OR (RANK=0 AND PID>=10000));

create table FACULTY ( FID INT not null, primary key (FID));
ALTER TABLE FACULTY ADD CONSTRAINT STAFF_CHK CHECK (FID<10000);
ALTER TABLE FACULTY ADD FOREIGN KEY (FID) REFERENCES PERSON(PID);

create table STUDENT ( SID INT not null, primary key (SID));
ALTER TABLE STUDENT ADD CONSTRAINT STUDENT_CHK CHECK (SID>=10000 AND SID<100000);

create table COURSE ( CID INT not null, SECTION char(3) NOT NULL,  NAME varchar(30) NOT NULL, INSTRUCTOR INT NOT NULL, NUMBER INT NOT NULL, primary key (CID) );
ALTER TABLE COURSE ADD CONSTRAINT NUMBER_CHK CHECK (NUMBER>0 AND NUMBER<500);
ALTER TABLE COURSE ADD CONSTRAINT SECTION_CHK CHECK (SECTION IN ('L01', 'D01', 'L02', 'D02', 'L03', 'D03'));
ALTER TABLE COURSE ADD FOREIGN KEY (INSTRUCTOR) REFERENCES FACULTY(FID);

create table SURVEY (NUM INT not null, COURSE INT NOT NULL,  STATFILE varchar(30) NOT NULL, INSTRUCTOR INT NOT NULL, COMPLETION INT NOT NULL, STUDENT INT NOT NULL, primary key(NUM));
ALTER TABLE SURVEY ADD FOREIGN KEY (COURSE) REFERENCES COURSE(CID);
ALTER TABLE SURVEY ADD FOREIGN KEY (STUDENT) REFERENCES STUDENT(SID);
ALTER TABLE SURVEY ADD FOREIGN KEY (INSTRUCTOR) REFERENCES FACULTY(FID);

INSERT INTO PERSON VALUES(10000, 'RICK', 'C137', 0);
INSERT INTO PERSON VALUES(20515, 'HENRIK', 'IBSEN', 0);
INSERT INTO PERSON VALUES(32535, 'ERIC',  'SABBAH', 0);
INSERT INTO STUDENT VALUES(10000);
INSERT INTO STUDENT VALUES(20515);
INSERT INTO STUDENT VALUES(32535);




INSERT INTO FACULTY VALUES(1300);
INSERT INTO FACULTY VALUES(1310);
INSERT INTO FACULTY VALUES(4000);

INSERT INTO COURSE VALUES(100, 'L03', 'INTRO TO TELEPHONES', 1300, 101);
INSERT INTO COURSE VALUES(200, 'L03', 'INTRO TO HOPSCOTCH', 1300, 100);
INSERT INTO COURSE VALUES(150, 'L01', 'HAVING FUN WITH PYTHON', 1300, 105);
INSERT INTO SURVEY VALUES(123, 100, '/', 1300, 0, 10000);
INSERT INTO SURVEY VALUES(140, 100, '/', 1300, 0, 20515);

SELECT * FROM APP.PERSON;

SELECT * FROM APP.STUDENT;

SELECT * FROM APP.FACULTY;

